@model List<RoleViewModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class=row>
    <div class="col-md-6 offset-md-2">
        <h1>Rol listesi</h1>

        @if ((TempData["NullMessage"] != null))
        {
            <div class="alert alert-info" role="alert">
                @TempData["NullMessage"]
            </div>
        }

        <div asp-validation-summary=ModelOnly class="alert alert-danger" role="alert">
        </div>

    </div>
    <div class="col-md-2">
        <a class="btn btn-primary" asp-controller="Admin" asp-action="RoleCreate"> Role Ekle</a>
    </div>
</div>

<div class="row">

    <div class="col-md-8 offset-md-2">

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Rol ismi</th>
                    <th>Sil</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.Name</td>
                        <td><a href="/Admin/RoleDelete/@item.Id" class="btn btn-dark">Sil</a></td>
                    </tr>
                }
            </tbody>

        </table>

    </div>
</div>


