@model ForgetPasswordViewModel
@{
    ViewData["Title"] = "ResetPassword";
}

<div class="row">
    <div class="col-md-4 offset-md-4">

        <h4>Şifre yenileme linki, e-posta adresinize gönderilecektir.</h4>

        @if ((TempData["ForgetErrorMessage"] != null))
        {
            <div class="alert alert-info" role="alert">
                @TempData["ForgetErrorMessage"]
            </div>
        }

        @if ((TempData["success"] != null))
        {
            <div class="alert alert-info" role="alert">
                @TempData["success"]
            </div>
        }

        <form asp-controller="Home" asp-action="ForgetPassword" method="post">
            <div class="mb-3">
                <label for="Email" class="form-label" asp-for="Email"></label>
                <input class="form-control" asp-for="Email">
                <span class="text-danger" asp-validation-for="Email"></span>
            </div> 
            
            <button type="submit" class="btn btn-primary">Gönder</button>
        </form>

    </div>
</div>

